$fa-font-path:                "../webfonts" !default;
$fa-font-size-base:           15px !default;
$fa-font-display:             auto;
$fa-css-prefix:               fa !default;
$fa-version:                  "5.7.2" !default;
$fa-border-color:             #eee !default;
$fa-inverse:                  #fff !default;
$fa-li-width:                 2em !default;
$fa-fw-width:                 (20em / 16);
