!!!
%html.no-js{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title WC for Sites
    %link{:href => "css/app.css", :rel => "stylesheet"}/
  %body.charitable
    .wrapper.home-page
      .bg
      %header.header
        .grid-container
          .grid-x.grid-padding-x
            .small-24.cell
              .header__logo.logo
                %a{:href => "page.html"}
                  %img{:src => "media/logo.svg"}
          .grid-x.grid-padding-x
            .small-24.cell
              .header__lozung
                .grid-x.grid-padding-x
                  .small-24.medium-20.cell
                    МИР
                    %br
                  .small-24.medium-24.cell
                    вашему
                    %br
                  .small-24.medium-24.cell
                    дому
      %section.section1
        .grid-container
          .grid-x.grid-padding-x.form-login
            .small-24.medium-8.large-8.cell
              %input{:type => "text", :placeholder => "Введите логин"}
            .small-24.medium-8.large-8.cell
              %input{:type => "text", :placeholder => "Введите пароль"}
            .small-24.medium-8.large-8.cell
              %input{:type => "button" , :value => "Войти", :class => "button expanded button-radius"}
    %script{:src => "js/app.js"}